<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [13]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [14]:
#Please uncomment and execute the code below if you are working locally.

#!pip install ipython-sql

In [15]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [16]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [17]:
!pip install -q pandas==1.1.5

In [18]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [19]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [20]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [24]:
import sqlite3
import pandas as pd

# Reinstall pandas to ensure all modules are available
!pip install --upgrade pandas

# Load the CSV file into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Load the DataFrame into the SQLite database
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the SQL query
query = 'SELECT DISTINCT "Launch_Site" FROM SPACEXTBL'
unique_launch_sites = pd.read_sql_query(query, con)

# Display the results
print(unique_launch_sites)

# Close the connection
con.close()

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.1.5)
Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 60.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed pandas-1.3.5

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [25]:
import sqlite3
import pandas as pd

# Reinstall pandas to ensure all modules are available
!pip install --upgrade pandas

# Load the CSV file into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Load the DataFrame into the SQLite database
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the SQL query for Task 1
query1 = 'SELECT DISTINCT "Launch_Site" FROM SPACEXTBL'
unique_launch_sites = pd.read_sql_query(query1, con)

# Display the results for Task 1
print("Unique Launch Sites:")
print(unique_launch_sites)

# Execute the SQL query for Task 2
query2 = 'SELECT * FROM SPACEXTBL WHERE "Launch_Site" LIKE \'CCA%\' LIMIT 5'
launch_sites_cca = pd.read_sql_query(query2, con)

# Display the results for Task 2
print("\n5 Records Where Launch Sites Begin with 'CCA':")
print(launch_sites_cca)

# Close the connection
con.close()

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

Unique Launch Sites:
    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

5 Records Where Launch Sites Begin with 'CCA':
         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [26]:
import sqlite3
import pandas as pd

# Load the CSV file into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Load the DataFrame into the SQLite database
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the SQL query for Task 3
query3 = 'SELECT SUM("Payload_Mass__kg_") AS total_payload_mass FROM SPACEXTBL WHERE "Customer" = \'NASA (CRS)\''
total_payload_mass = pd.read_sql_query(query3, con)

# Display the results for Task 3
print("Total Payload Mass Carried by Boosters Launched by NASA (CRS):")
print(total_payload_mass)

# Close the connection
con.close()

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

Total Payload Mass Carried by Boosters Launched by NASA (CRS):
   total_payload_mass
0               45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [27]:
import sqlite3
import pandas as pd

# Load the CSV file into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Load the DataFrame into the SQLite database
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the SQL query for Task 4
query4 = 'SELECT AVG("Payload_Mass__kg_") AS average_payload_mass FROM SPACEXTBL WHERE "Booster_Version" = \'F9 v1.1\''
average_payload_mass = pd.read_sql_query(query4, con)

# Display the results for Task 4
print("Average Payload Mass Carried by Booster Version F9 v1.1:")
print(average_payload_mass)

# Close the connection
con.close()

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

Average Payload Mass Carried by Booster Version F9 v1.1:
   average_payload_mass
0                2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [28]:
import sqlite3
import pandas as pd

# Load the CSV file into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Load the DataFrame into the SQLite database
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the SQL query for Task 5
query5 = 'SELECT MIN("Date") AS first_successful_landing_date FROM SPACEXTBL WHERE "Landing_Outcome" = \'Success (ground pad)\''
first_successful_landing_date = pd.read_sql_query(query5, con)

# Display the results 
print("First Successful Landing Date on Ground Pad:")
print(first_successful_landing_date)

# Close the connection
con.close()

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

First Successful Landing Date on Ground Pad:
  first_successful_landing_date
0                    2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [29]:
import sqlite3
import pandas as pd

# Load the CSV file into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Load the DataFrame into the SQLite database
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the SQL query for Task 6
query6 = """
SELECT "Booster_Version"
FROM SPACEXTBL
WHERE "Landing_Outcome" = 'Success (drone ship)'
AND "Payload_Mass__kg_" > 4000
AND "Payload_Mass__kg_" < 6000
"""
boosters = pd.read_sql_query(query6, con)

# Display the results 
print("Boosters with Success on Drone Ship and Payload Mass Between 4000 and 6000:")
print(boosters)

# Close the connection
con.close()

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

Boosters with Success on Drone Ship and Payload Mass Between 4000 and 6000:
  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [30]:
import sqlite3
import pandas as pd

# Load the CSV file into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Load the DataFrame into the SQLite database
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the SQL query for Task 7
query7 = """
SELECT "Mission_Outcome", COUNT(*) AS total
FROM SPACEXTBL
GROUP BY "Mission_Outcome"
"""
mission_outcomes = pd.read_sql_query(query7, con)

# Display the results 
print("Total Number of Successful and Failure Mission Outcomes:")
print(mission_outcomes)

# Close the connection
con.close()

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

Total Number of Successful and Failure Mission Outcomes:
                    Mission_Outcome  total
0               Failure (in flight)      1
1                           Success     98
2                          Success       1
3  Success (payload status unclear)      1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [31]:
import sqlite3
import pandas as pd

# Load the CSV file into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Load the DataFrame into the SQLite database
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the SQL query for Task 8
query8 = """
SELECT "Booster_Version"
FROM SPACEXTBL
WHERE "Payload_Mass__kg_" = (
    SELECT MAX("Payload_Mass__kg_")
    FROM SPACEXTBL
)
"""
booster_versions = pd.read_sql_query(query8, con)

# Display the results
print("Booster Versions that Carried the Maximum Payload Mass:")
print(booster_versions)

# Close the connection
con.close()

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

Booster Versions that Carried the Maximum Payload Mass:
   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [32]:
import sqlite3
import pandas as pd

# Load the CSV file into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Load the DataFrame into the SQLite database
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the SQL query for Task 9
query9 = """
SELECT 
    substr("Date", 6, 2) AS month,
    "Landing_Outcome",
    "Booster_Version",
    "Launch_Site"
FROM SPACEXTBL
WHERE substr("Date", 0, 5) = '2015'
AND "Landing_Outcome" = 'Failure (drone ship)'
"""
records_2015 = pd.read_sql_query(query9, con)

# Display the results for 
print("Records with Failure Landing Outcomes on Drone Ship in 2015:")
print(records_2015)

# Close the connection
con.close()

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

Records with Failure Landing Outcomes on Drone Ship in 2015:
  month       Landing_Outcome Booster_Version  Launch_Site
0    01  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1    04  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [33]:
import sqlite3
import pandas as pd

# Load the CSV file into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Load the DataFrame into the SQLite database
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False, method="multi")

# Execute the SQL query for Task 10
query10 = """
SELECT 
    "Landing_Outcome",
    COUNT(*) AS outcome_count
FROM SPACEXTBL
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY outcome_count DESC
"""
landing_outcomes = pd.read_sql_query(query10, con)

# Display the results for Task 10
print("Ranking of Landing Outcomes Between 2010-06-04 and 2017-03-20:")
print(landing_outcomes)

# Close the connection
con.close()

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

Ranking of Landing Outcomes Between 2010-06-04 and 2017-03-20:
          Landing_Outcome  outcome_count
0              No attempt             10
1    Success (drone ship)              5
2    Failure (drone ship)              5
3    Success (ground pad)              3
4      Controlled (ocean)              3
5    Uncontrolled (ocean)              2
6     Failure (parachute)              2
7  Precluded (drone ship)              1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>